.img-thumbnail {
    width: 50px !important;
    height: 50px !important;
}
.review-box {
    max-height: 300px;
    overflow-y: scroll;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    /*top:-9999px;*/
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #afdb00;
    text-shadow:1px 1px #afdb00, 2px 2px #afdb00, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #afdb00;
    text-shadow:1px 1px #afdb00, 2px 2px #afdb00, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #afdb00;
    text-shadow:1px 1px #afdb00, 2px 2px #afdb00, .1em .1em .2em rgba(0,0,0,.5);
}

.star_checked {
    color: #afdb00 !important;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix {
    *zoom: 1;
}

.img-thumbnail {
    width: 50px !important;
    height: 50px !important;
}
.review-box {
    max-height: 300px;
    overflow-y: scroll;
}
.btn-review {
    background-color: #7929E2 !important;
    color: #ffffff;
    margin-left: 2rem;
    margin-top: 0.5rem;
}